name: Build
on:
  push:
    branches:
      - master
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: npm install
    - name: Run tests
      uses: GabrielBB/xvfb-action@v1.2
      with:
        run: npm test
    - name: Publish
      if: success() && startsWith(github.ref, 'refs/tags/v')
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_TOKEN }}